* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  list-style: circle;
  /* user-select: none; */
  z-index: 0;
}

.logo-img {
  width: 25rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #edf2f9;
}

.btn-primary:hover,
.submit:hover,
.btn-primary a:hover {
  color: white !important;
  background: rgb(12, 109, 158) !important;
  cursor: pointer !important;
}

.pages-redirect:hover {
  color: rgb(92, 58, 58);
}

footer {
  z-index: 1;
  background: #edf2f9;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 10px rgb(0 0 0 / 80%);
}

/* Pages Styling */
.header {
  margin: 1rem 1rem 0;
  text-align: center;
  font-size: 2.5rem;
  color: #444141;
}

.submit-btn {
  justify-content: flex-end;
  margin-right: 1.6rem;
}

/* testing */
.container {
  width: 30rem;
  margin: 2rem auto 0;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgb(0 0 0 / 80%);
  padding: 30px 30px;
}

.container h1 {
  color: rgb(12, 109, 158);
  text-align: center;
  text-transform: uppercase;
}

.container .box {
  position: relative;
  width: 100%;
  margin: 30px 0;
}

.container .box input {
  position: relative;
  border: none;
  outline: none;
  width: 100%;
  font-size: 22px;
  padding: 8px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  z-index: 2;
  transition: 0.9s;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  user-select: none;
  transition: 2s ease;
  color: transparent;
  -webkit-transition: 2s ease;
  -moz-transition: 2s ease;
  -ms-transition: 2s ease;
  -o-transition: 2s ease;
}

input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

.container .box input:focus {
  border-color: rgb(12, 109, 158);
}

.container .box span {
  display: inline-block;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: 0.9s;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
}
.container .box input + span {
  top: 31%;
}
.container .box input:focus + span,
.container .box input:valid + span {
  color: rgb(12, 109, 158);
  top: -20%;
}

.homepage-container > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-weight: 600;
}

select {
  padding: 0.2rem 1rem;
}

.btn-primary,
.submit {
  padding: 0.5rem !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
  border: 1px solid rgb(12, 109, 158) !important;
  background: #edf2f9 !important;
  font-weight: 600 !important;
  color: rgb(12, 109, 158) !important;
  cursor: pointer;
  transition: 0.1s ease !important;
  -webkit-transition: 0.1s ease !important;
  -moz-transition: 0.1s ease !important;
  -ms-transition: 0.1s ease !important;
  -o-transition: 0.1s ease !important;
}

.checkbox-status {
  display: flex;
  align-content: center;
}

.signup-link {
  color: #0c6d9e !important;
  font-weight: 600;
}
